

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  /* visibility: hidden; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}

.invisivel {
  visibility: hidden;
}